a, button {
    outline: 0 !important;
    text-decoration: none !important;
}
main {
    padding-top: 6rem;
    padding-bottom: 3em;
}
.navbar-brand {
    margin-right: 0;
}
.dropdown-toggle {
    cursor: pointer;
}
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
