.idea/
assets/img/*
!assets/img/.gitkeep
*ini
var/log/*
!var/log/.gitkeep
public/gallery/*
!public/gallery/.gitkeep
!var/.gitkeep
!config/.gitkeep
vendor/
tests/
public/assets/lib/*
!public/assets/lib/.gitkeep
*.local.php
